<html>
<head>
<title>University |  Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"  href="static/css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<!-- Top Nav start -->
<div class="top_nav">
<div class="leftdiv">
<ul class="topUl">
<li>+91 8787676789</li>
<li>HackWin@gmail.com</li>
</ul>
</div>
<div class="rightdiv">
<ul>
<li><a href="/login">LOGIN</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/register">REGISTER</a></li>
</ul>
</div>
</div>
<!-- Top Nav End -->

<!-- Nav bar start -->
<div class="nav">
<img class="logo" src="static/logo.jpg" width="250" height="50"/>
<div class="menu">
<ul class="menuList">
<li><a href="#">HOME </a></li>
<li><a href="/predict">BUY/SELL</a></li>
<li><a href="#">CONTACT</a></li>
</ul>
</div>
</div>
<!-- Nav Nav End -->

<!-- Slider start -->
<div class="slider">
<div class="main">
<img class="img_1"  src = "static/slider.png"  />
<div class="content">
<h1><center>Welcome To Price Predictor!</center></h1>
<center><p class="text">In general, real estate may have the valuation of land may be obliged to furnish.
A quantitative measure of the profit is carried out by many different Players in the
commercial center, for example, land agents, Appraisers, assessors, mortarboard lenders,
brokers, Developers, gurus Also reserve managers, lenders,etc. Business worth will be
evaluated through that requisition. From claiming valuation systems Also methods that
reflect those nature Of property and the condition under which those provided for.The
property might well on the way exchange in open market under many conditions and circumstances, people are the unaware amount the current situations and they start losing
their money, the change in prices of properties would affect both the common people and
the government, to avoid certain circumstances there is a need of price prediction.
 </p></center>
</div>
</div>
</div>
<!-- Slider End -->

<!-- section start -->
<div class="section_four">
<div class="row">
<div class="col">
<div class="inner">
<h2>Prediction is helpful</h2>
<p>To see a mechanism that runs throughout the properties buying and selling buying a house will be a life time goal for most of the individual</p>
<a href="#">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
</div>
</div>
<div  class="col">
<div class="inner">
<h2>Why prediction?</h2>
<p>To provide guarantee that a person can purchase it for a deserved or a accurate price.Also avoids buyers to overpriced and seller to underpriced</p>
<a href="#">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
</div>
</div>
<div class="col">
<div class="inner">
<h2>Predictive analytics</h2>
<p>It is about analyzing current and historical data to forecast the probability of future events, outcomes, or values in the context of price predictions.</p>
<a href="#">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
</div>
</div>
<div  class="col">
<div class="inner">
<h2>Ultimate Goal</h2>
<p>To build systems capable of finding patterns in data, learning from it without human intervention and explicit reprogramming.</p>
<a href="#">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
</div>
</div>
</div>
</div>
<!-- section End -->

<div class="row1">
<div class="col2">
<div class="inner2">
<h2>Our Aim</h2><br>
<p>People and real estate agencies buy or sell houses, people buy to live in or as an investment and the agencies buy to run
 a business. Either way, we believe everyone should get exactly what they pay for. over-valuation/under-valuation in housing markets
  has always been an issue and there is a lack of proper detection measures. Broad measures, like house/Real-estate price-to-rent ratios, 
  give a primary pass. However, to decide about this issue an in-depth analysis and judgment are necessary. Heres where machine learning 
  comes in, by training an ML model with hundreds and thousands of data a solution can be developed which will be powerful enough to predict
   prices accurately and can cater to everyones needs. </p>
</div>
</div>
<div class="col1">
<div class="inner1">
<img src="static/full.png" class="img1" width="100%" />
</div>
</div>
</div>
<footer>
  <p>Author: Hege Refsnes<br>
  <a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>
</body>
</html>
